
<% if @course.id %>
	<h2>Course Name: <%= @course.name %></h2>
	</br>
	<h2>Create Course Forum </h2>
<% else %>
	<h2>New Forum</h2>
<% end %>

<%= render 'form' %>

<p><%= link_to "Back to List", forums_path %></p>
