<%= content_tag_for(:li, conversation) do |conversation| %>
  <p>
  	
  	<i class="icon-envelope"></i>
  	<% if !conversation.read %>
  	  <strong>
        <%= link_to conversation.subject, conversation %>
      </strong>
    <% end %>
  </p>
<% end %> 