<%= render_course_subnav( 'dashboard') %>

<div class="container-fluid user_courses_container">

  <% if admin_mode? %>
    Admin Dashboard for <%= @user.name %>
  <% else %>
    User Dashboard for <%= @user.name %>
  <% end %>

</div>