
<div class="container-fluid search-results">
  <div class="row-fluid">
    <div class="span3 facets">
      <%= render 'course_facets' %>
    </div>
    <div class="span9">
      <table class="table table-hover search-results">
        <% 
        @courses.results.each do |result| 
          if result.type == 'course'
            %>
            <%= render 'course_result', :result => result %>
          <% 
          else
             %>
            <%= render 'user_result', :result => result %>
             <%
          end
        end %>
      </table>
      <%= paginate_elastic @courses%>
    </div>
  </div>
</div>
