
<div class="container-fluid ">
  <div class="row-fluid">
    <div class="span12">
      <table class="table table-hover">
        <% 
        if @courses.empty? 
          %>
            <tr><td>No Courses.</td></tr> 
          <%
        end
        @courses.each do |course| %>
          <tr>
            <td>
              <div class="title"><%= link_to course.name, course_path(course) %></div>
              <div class="description"><%= truncate course.description, :length => 300 %></div>
              <span class="created_at"><%= course.created_at.to_formatted_s(:long) %></span>
              <%= ratings_for course, :static %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
