<% sidebar %>
        
<% toolbar %>

<br class="clearfloat" />
<div class="space_center">
</div>

<h2>This is a test page for the Video</h2>
<br>

<form action="">
	What is your favorite food?<br />
<input type="radio" name="food" value="tofu" /> Tofu<br />
<input type="radio" name="food" value="apples" /> Apples<br/></br/>

	What is your favorite video?<br />
<input type="radio" name="pref" value="call" /> The CallSource video<br />
<input type="radio" name="pref" value="jw" /> The JW Player video<br /><br />

<h2>Note: This is the end of the demo, this form is not functional</h2>

<%= button_to 'Submit', courses_path %>
</form>