<% sidebar %>
        
<% toolbar %>

<br class="clearfloat" />
<div class="space_center">
</div>

<h2>This is a test page for the JW Player Video</h2>
<br>

<form action="">
	What did you think of the video?<br />
<input type="radio" name="food" value="tofu" /> A+<br />
<input type="radio" name="food" value="apples" /> B<br/></br/>
<input type="radio" name="food" value="tofu" /> C<br />

	What do you like about Rails?<br />
<input type="radio" name="pref" value="call" /> Easy persistence<br />
<input type="radio" name="pref" value="jw" /> Clean syntax<br /><br />
<input type="radio" name="pref" value="jw" /> Less boilerplate code<br /><br />
<input type="radio" name="pref" value="jw" /> The community<br /><br />


<h2>Note: This is the end of the demo, this form is not functional</h2>

<%= button_to 'Submit', courses_path %>
</form>