.courses_navbar {
  .navbar-inner {
    padding-left:10px;
    .container {
      width:auto;
    }
  }
}

.commands {
    border-top:1px solid #DDD;
}
  

.question_label, .answer_label {
  float:left;
  margin-right:10px;
}

.answer_label {
  margin-left:30px;
}

input.answer {
  margin-left:30px;
}

.correct_answer {
  float:left;
}

ul.quiz_answers { list-style-type: none; }

.course-view {
  h3 {
    float:left;
  }
  .actions {
    float:right;
    a.btn-success {
      width:70px;
    }
  }
  p {
    clear:both;
  }
}

.module-content {
  margin-top:10px;
  margin-bottom:20px;
}

.course-play-container {
  table {
    tr.completed {
      background-color:#D3FFBF;
    }
    tr.unavailable {
      background-color:whitesmoke;
      color: #999999;
    }
    tr.in_progress {
      background-color:#E39D64;
    }
    
  }
}

table.search-results {
  .title {
    float:left;
  }
  .action {
    float:right;
  }
  .description {
    clear:both;
  }
}


.module_table li
{
  list-style-type:none;
  margin-bottom:10px;
}