.search-results {
  .facets {
    border: 1px solid #DDDDDD; 
    padding:10px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    h3, h4 {
      margin:0px;
    }
    ul {
      margin-left: 0px;
      li {list-style: none outside none;}
    }
   
  }
}
