<footer class="navbar navbar-static-top" style="text-align:center">
  <div class="navbar-inner">
    <div class="container">
    <nav class="nav-collapse">
    <ul class="nav pull-right">
     <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
    </nav>
  </div>
  </div>
</footer>